.footer
{
	background-color: $footer-color;
	padding: 1px 20px 20px 20px;

	@include desktop-only
	{
		margin: auto;
	}

	&__heading
	{
		color: $white-color;
		font-size: 1.1em;
		margin-bottom: 0;

		@include tablette-only
		{
			font-size: 1.4em;
			text-align: center;
		}
	}

	&__list
	{
		padding-left: 0;

		@include tablette-only
		{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-left: 20%;
			padding-bottom: 30px;
		}
	}

	&__puces
	{
		list-style-type: none;

		@include tablette-only
		{

			line-height: 35px;

			&:nth-child(2)
			{
				order: 2;
			}

			&:nth-child(3)
			{
				order: 3;
			}
		}
	}

	&__link
	{
		color: $white-color;
		text-decoration: none;
		line-height: 25px;
		position: relative;
		z-index: 1;
		padding-bottom: 2px;

		&::after
		{
			@include pseudo-pos;
			background-color: $white-color;
			clip-path: polygon(0 92%, 100% 92%, 100% 100%, 0% 100%);
			transform: scaleX(0);
			transition: transform 300ms;
		}

		&:hover::after
		{
			transform: scaleX(1);
		}
	}

	&__icon
	{
		margin-right: 10px;
		font-size: 0.9em;

		&--partenaire
		{
			font-size: 0.65em;
		}
	}
}