.pink-btn
{
	display: inline-block;
	@include pink-btn;
	background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
	color: $white-color;
	margin: auto;
	box-shadow: $ombre-normal;
	position: relative;
	z-index: 1;

	&:hover::after, &:focus::after
	{
		opacity: 1;
	}

	&::after
	{
		@include pseudo-pos;
		@include pink-btn;
		background: linear-gradient(170deg, lighten($secondary-color, 5%) 0%, lighten($primary-color, 5%) 100%);
		opacity: 0;
		transition: opacity 300ms;
		box-shadow: $ombre-survol;
	}
}


.heart
{
	position: absolute;
	font-size: 1.5em;
	z-index: 1;
	cursor: pointer;

	&:hover + .heart-bg
	{
		animation: heart-anim 1s both;
	}
}

.heart-bg
{
	font-size: 1.5em;
	display: inline-block;
	color: black;
	background-color: $section-color;
	border: 1px solid $section-color;
	position: absolute;
	z-index: 2;
	clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

	&::before
	{
		@include pseudo-pos;
		background: linear-gradient(50deg, lighten($secondary-color, 5%) 0%, lighten($primary-color, 5%) 100%);
		display: block;
		mix-blend-mode: lighten;
		z-index: 3;
	}
}

.select-btn
{
	position: absolute;
	top: 20px;
	right: 0;
	background-color: $tertiary-color;
	color: $white-color;
	font-size: 1.4em;
	padding: 24px 20px;
	margin-top: -20px;
	margin-bottom: -6px;
	transform: translateX(102%);
	transition: transform $select-btn-time;

	&__icon
	{
		transform: rotate(90deg);
		transition: transform $icon-rotate-time $icon-delay;
	}
}
