.menu
{
	width: auto;

	@include desktop-only
	{
		margin: auto;
	}

	&__img
	{
		width: 100%;
		height: 250px;
		z-index: -1;
		object-fit: cover;

		@include tablette-only
		{
			height: 400px;
			object-position: 50% 80%;
			border-radius: 20px 20px 0 0;
		}

		@include desktop-only
		{
			object-position: 50% 62%;
		}

		&--note
		{
			@include tablette-only
			{
				object-position: 50% 63.5%;
			}

			@include desktop-only
			{
				object-position: 50% 60%;
			}
		}

		&--francaise
		{
			@include tablette-only
			{
				object-position: 50% 100%;
			}

			@include desktop-only
			{
				object-position: 50% 65%;
			}
		}
	}

	&__container
	{
		background-color: $section-color;
		padding: 10px 15px 80px 15px;
		border-radius: 30px 30px 0 0;
		margin-top: -55px;
		z-index: 2;
		position: relative;
	}

	&__main-heading
	{
		font-family: $logo-typo;
		font-size: 1.7em;
		padding-left: 5px;

		@include tablette-only
		{
			text-align: center;
		}
	}

	&__sub-heading
	{
		text-transform: uppercase;
		font-weight: 300;
		position: relative;
		padding-bottom: 7px;
		margin-left: 5px;
		opacity: 0;
		animation: chasing $chasing-time forwards;
		@for $i from 0 through 2
		{
			&--#{$i}
			{
				animation-delay: $chasing-delay-heading * $i;
			}
		}

		@include tablette-only
		{
			text-align: center;
		}

		&::after
		{
			@include pseudo-pos;
			background-color: $tertiary-color;
			clip-path: polygon(0 90%, 40px 90%, 40px 100%, 0% 100%);

			@include tablette-only
			{
				clip-path: polygon(47.5% 90%, 52.5% 90%, 52.5% 100%, 47.5% 100%);
			}
		}
	}

	&__parts
	{
		margin-bottom: 40px;

		@include desktop-only
		{
			margin: 0 10px 30px 10px;
		}
	}

	&__btn
	{
		text-align: center;
	}

	&__pink-btn
	{
		margin-top: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}

	&__flex
	{
		@include desktop-only
		{
			display: flex;
			justify-content: space-between;
			width: $desktop-size;
			margin: auto;
		}
	}
}

.menu-carte
{
	display: block;
	border-radius: 15px;
	color: $black-color;
	background-color: $white-color;
	padding: 20px 20px 2px 10px;
	box-shadow: $ombre-normal;
	margin-bottom: 15px;
	line-height: 8px;
	overflow: hidden;
	position: relative;
	opacity: 0;
	animation: chasing $chasing-time forwards;
	@for $i from 1 through 10
	{
		&--#{$i}
		{
			animation-delay: $chasing-delay-cartes * $i;
		}
	}

	@include tablette-only
	{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	@include desktop-only
	{
		width: 310px;
	}

	&:hover &__prix
	{
		padding-right: 60px;
	}

	&:hover .select-btn
	{
		transform: translateX(1%);
	}

	&:hover .select-btn__icon
	{
		transform: rotate(360deg);
	}

	&__plat
	{
		font-family: $text-typo;
		font-size: 1.1em;
		font-weight: 500;
		margin-bottom: 0px;
		margin-top: 0;
	}

	&__flex
	{
		display: flex;
		justify-content: space-between;
	}

	&__side
	{
		font-weight: 300;
		font-size: 0.92em;
		padding: 2px 10px 4px 0;
		margin-bottom: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__prix
	{
		display: block;
		float: inline-end;
		font-weight: 500;
		font-size: 0.92em;
		transition: padding $select-btn-time;
		padding-right: 0px;
		padding-top: 2px;
		margin-bottom: 12px;
	}
}